
#chat{
    width:100%; 
    height:calc(100% - 160px);
    margin:0 1px;
    top:140px;
    position: relative;
}
#chat textarea{ 
    width: calc(100%  - 50px); 
    overflow:no;  
    margin: 18px 20px 0 20px;
    height: 140px; 
    font-size: 38px;
}

.log{    
    background:rgba(243,241,243,1); 
    height:calc(100% - 160px);
    overflow-x:hidden;  
}

.edit{
    width:100%;  
    height: 400px;
    display: block; 
    background: rgba(253,254,255,1); 
    color: #fff;
    font-size: 32px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius:0 0 15px 0;
}

.edit span[index='1'] {
    float: right;
    margin-right: 30px;
    text-align: center;
    position: relative;
    top: -135px;
}

.edit span[index="1"] div{ 
    width: 52px;
    height: 52px;
    background-image: url(../../image/file.png);
    background-size: 52px 52px;
    border: none;
    margin:0px 10px 10px 10px;
}
.edit input[type='button'] {
    float: right;
    top: -65px;
    position: relative;
    font-size: 26px;
    width: 130px;
    right: -62px;
}

.edit span[index="2"] img{
    margin-top: 24px;
    margin-left: 30px;
    width: 52px;
    height: 52px;
}

#talkwords{
    margin-left: 50px;
    width:514px;   
    height:212px;
    padding:0px;
    float:left; 
    outline:none;
    text-indent:20px;
    border:none;  
    font-size: 34px;
}

#talksub{
    width:56px;
    height:60px;
    float: right;;
    margin-right:56px;
}
.talk_con{
    width:920px;
    height:700px;
    border:1px solid #666;
    margin:50px auto 0;
    background:#f9f9f9;
}

.whotalk{
    width:160px;
    height:60px;
    float:left;
    outline:none;
}       
.atalk{
    margin:20px; 
    text-align:left;
}
.atalk span xmp, .atalk span div{
    display:inline-block;
    background:#0181cc;
    border-radius:20px;
    color:#fff;
    padding:10px 20px;
    max-width: calc(100% - 150px); 
    padding-bottom: 20px; 
    padding-top: 18px;
    font-size: 32px;
    margin-top: inherit;

    word-break:normal;   
    white-space:pre-wrap;
    word-wrap : break-word ; 
} 
.atalk a{
    color: black;
}
.btalk{
    margin:10px;
    text-align:right;
}  
.btalk span xmp, .btalk span div{
    display:inline-block;
    background:#ef8201;
    border-radius:20px;
    color:#fff;
    padding:10px 20px; 
    max-width: calc(100% - 150px); 
    padding-bottom: 20px; 
    padding-top: 18px;
    font-size: 32px;
    margin-top: inherit;

    word-break:normal;   
    white-space:pre-wrap;
    word-wrap : break-word ; 
    text-align:left;
} 
.atalk span img{
    width: 86px;
    height: 86px;
}
.btalk span img{
    width: 86px;
    height: 86px;
}

span[index="chatImg2"] {
    display: inline;
}
span img[index="chatImg2"] {
    width: 50px;
    height: 50px; 
    float: left;
    background-image: url(../../image/chatCuster.png);
    background-size: 50px 50px;
}

span img[index="chatImg1"] {
    display: inline;
}
span img[index="chatImg1"]{
    width: 50px;
    height: 50px;
    top:0; 
    float: right;
    background-image: url(../../image/chatMaster.png);
    background-size: 50px 50px;
}

.triangle_left {
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: solid 12px;
    border-color: rgba(243,241,243,1) #0181cc rgba(243,241,243,1) rgba(243,241,243,1);
    float: left;
    margin-top: 20px;
    margin-left: -1px;
}

.triangle_right {
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: solid 12px;
    border-color: rgba(243,241,243,1) rgba(243,241,243,1) rgba(243,241,243,1)#ef8201;
    float: right;
    margin-top: 20px;
    margin-left: -1px;
}
