
#chats {
    padding-top: 26px;
    height:calc(100% - 140px - 160px); 
    display: block; 
    border:none;
    background-color:rgba(243,241,243,1); 
    color: #fff;
    font-size: 28px;
    overflow-y: visible;
    overflow-x: hidden;
    top:140px;
    position: relative;
}
 
#chats p {
    margin:0px;
    border-bottom: 1px dashed #d09c6b; 
    overflow-x: hidden;
    padding-bottom: 22px;
    padding-top: 22px;
}
#chats p:hover {
    background: rgb(147, 111, 156);
}
#chats p img {
    width: 70px;
    height: 70px;
    border: 1px solid #ff9b67;
    border-radius: 5px;
    margin-left: 6px;  
    float: left; 
    background-image: url(../../image/chatCuster.png);
    background-size: 70px 70px;
    
}
#chats p span[index="1"]{ 
    width:112px;
    height:38px;
    font-size:28px;
    font-family:Segoe UI;
    font-weight:400;
    line-height:38px;
    color:rgba(37, 10, 53, 1);
    opacity:1;
    margin-left: 24px;
    float: left;
}
#chats p span[index="2"]{
    float: right;  
    height:32px;
    font-size:24px;
    font-family:Segoe UI;
    font-weight:400;
    line-height:32px;
    color:rgba(187,183,188,1);
    opacity:1;
    margin-right:24px;
}
#chats p span[index="3"]{
    float: left;  
    width:152px;
    height:32px;
    font-size:24px;
    font-family:Segoe UI;
    font-weight:400;
    line-height:32px;
    color:rgba(187,183,188,1);
    opacity:1;
    margin-left: 6px;
    max-width: 16em;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
} 

.selectContent{
    background: salmon;  
}
.grayscale { 
    background-color: gray;
}