 
 @import "demo.css";
/*@import "wkList.css";
@import "wkDetail.css"; */
html,body{ 
  overflow-x:"hidden";
  overflow-y:"hidden";
}

/* body {
  font: 12px/1.5 arial,"Microsoft YaHei","\5b8b\4f53",sans-serif,tahoma;
  background: rgb(233, 224, 226);
}
  */
body{
    margin:0px;
    padding:0px;
    font-family:sans-serif; 
    background-size:cover;
}